html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.main-title{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  color:white;
  text-align:center;
  padding:180px 0px 100px 0px;
}
.main-title h1{
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
  opacity:0.7;
}
.main-title p{
  opacity:0.7;
}
.btn-wrapper{
  padding-top:30px;
}
.btn-wrapper p{
  margin:15px;
}
.signup{
  background-color:#239b76;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.btn{
  display:inline-block;
  color:white;
  padding:8px 24px;
  opacity:0.8;
  border-radius:4px;
}
.fa{
  margin-right:5px;
}
.header-top{
  background-color:rgba(34,49,52,0.9);
  height:65px;
  position:fixed;
  top:0;
  z-index:10;
  width:100%;
}
.container{
  width: 1170px;
  margin: 0 auto;
  
}
.header-image{
  float:left;
  width:124px;
  padding:20px 0px;
}
.login{
  float:right;
  background-color:rgba(255,255,255,0.3);
  padding:0 25px;
  display:inline-block;
  line-height:65px;
  color:white;
}
.login hover{
  opacity:1.0;
}
main{
  background-color:#f7f7f7;
  height:580px;
}
.caption h2{
  text-align:center;
  padding:80px 0px 50px 0px;
  font-weight:normal;
  color:#5f5d60;
}
.lesson-section{
  text-align:center;
}
.lesson{
  float:left;
  width:25%;
}
.lesson-icon{
  position:relative;
}
.lesson-icon p{
  position:absolute;
  top:44%;
  width:100%;
  color:white;
}
.txt-contents{
  display:inline-block;
  color:#b3aeb5;
  margin-top:15px;
  font-size:13px;
  width:80%;
}
.message-section{
  text-align:center;
}
.message{
  margin:80px 0 50px 0;
  color:#5f5d60;
  font-weight:normal;
}
.development{
  background-color:#5dca88;
  padding:15px 40px;
  margin-bottom:80px;
  box-shadow:0px 7px #1a7940;
}
.btn:hover{
  opacity:1.0;
}
.development:active{
  box-shadow:none;
  position:relative;
  top:7px;
}
.progate-img{
  width:124px;
}
.footer-wrapper p{
  font-size:12px;
  color:#b3aeb5;
}
.footer-wrapper{
  padding:30px 0;
}
footer{
    border-top:1px solid #eee;
}
